body{
    background-color:rgb(97, 7, 97)!important;
}
.container{
    background-color:white;
    width:40%!important;
    margin-top:5%;
    padding-bottom:50px;
    padding-top:50px;
    padding-left:30px!important;
    padding-right:30px!important;
}